<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project, style:"color:white;" ,class:"btn btn-primary"%> |
<%= link_to 'Back', projects_path, style:"color:white;" ,class:"btn btn-primary"%>
